# Example Postgres settings
# You can either use the separate settings below or a full DATABASE_URL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres@Local
# Alternative: specify DATABASE_URL to override the above settings.
# Example: DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
DATABASE_URL=
PORT=3000

# Optional: LOGGING
NODE_ENV=development
JWT_SECRET=change-this-secret
SALT_ROUNDS=10
